<% include ../partials/header %>

<p><%= wrestler.nickname %></p>
<h1><%= wrestler.name %></h1>
<p><%= user.displayName || user.email %></p>
<p><%= wrestler.debutDate.toLocaleDateString("en-US",dateOption) %></p>
<p><%= wrestler.weight %></p>
<p><%= wrestler.hometown %></p>
<p><%= wrestler.finisher %></p>
<p><%= wrestler.themeMusic %></p>
<a class="btn btn-warning" href="/roster/<%= wrestler.slug %>/edit">Edit Profile</a>

<% include ../partials/footer %>