<% include ../partials/header %>
	<h1><%= user.email %></h1>
	<p><%= user.displayName %></p>
	<p><%= user.location %></p>
	<p><%= user.joinDate.toLocaleDateString("en-US",dateOption) %></p>
	<a class="btn btn-warning" href="/members/<%= user.email %>/edit">Edit</a>
<% include ../partials/footer %>