<% include ../partials/header %>

<h1>Post Roleplay</h1>

<form action="/roleplays/<%= roleplay.email %>/<%= roleplay.slug %>?_method=PUT" method="POST">
	<label for="title">
		Name:
    	<input type="text" name="title" value="<%= roleplay.title %>">
    </label>
    <label for="wrestler">
		Name:
    	<select name="wrestler_id">
    		<% wrestler.forEach(function(wrestler){ %>
				<option value="<%= wrestler.wrestler_id %>" 
					<% if(JSON.stringify(wrestler.wrestler_id) == JSON.stringify(roleplay.wrestler_id)) { %> selected <% } %>>
					<%= wrestler.name %>
				</option>
			<% }); %>
		</select>
    </label>
    <label for="content">
		Weight:
    	<textarea name="content"><%= roleplay.content %></textarea>
    </label>
    <button>Submit</button>
</form>

<% include ../partials/footer %>
