<% include ../partials/header %>

<ul class="list-group">
	<% roleplay.forEach(function(roleplay){ %>
	<a href="/roleplays/<%= roleplay.email %>/<%= roleplay.slug %>"><li class="list-group-item"><%= roleplay.title %> | <%= roleplay.name %> | <%= roleplay.displayName %></li></a>
	<% }); %>
</ul>
<a class="btn btn-warning" href="/roleplays/post">Post a roleplay</a>

<% include ../partials/footer %>