<% include ../partials/header %>

<ul class="list-group">
	<% roleplay.forEach(function(roleplay){ %>
	<li class="list-group-item"><a href="/roleplays/<%= roleplay.email %>/<%= roleplay.slug %>"><%= roleplay.title %> | <%= roleplay.name %> | <%= roleplay.displayName %></a></li>
	<% }); %>
</ul>
<% if(currentUser && currentUser.hasWrestler == 1){ %>
<a class="btn btn-warning" href="/roleplays/post">Post a roleplay</a>
<% } %>

<% include ../partials/footer %>