<% include ../partials/header %>

<p><%= roleplay.wrestler.name %></p>
<h1><%= roleplay.title %></h1>
<p><%= roleplay.controller.displayName %></p>
<p><%= roleplay.datePosted %></p>
<p><%= roleplay.content %></p>
<a class="btn btn-warning" href="/roleplays/<%= roleplay.controller.username %>/<%= roleplay.slug %>/edit">Edit Profile</a>

<% include ../partials/footer %>